/* css/style.css
@@ -0,0 +1,277 @@ */
/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


/* VARIABLES */
:root {
  /* --primary-color: #70ace6; */
  --primary-color: white;
  --secondary-color:#44586e;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.54;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}


/* UTILITY CLASSES */
.container {
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  margin-top: 4rem;
  text-align: center;
  display: inline-block;
  padding: .6rem 1.5rem;
  border-radius: 3px;
  background-color: var(--primary-color);
  transition: all .5s ease-in-out;
}

.btn:hover {
  background-color: rgb(230, 14, 14);
}

/* ABOUT PAGE */
/* #about {
  height: 100vh;
  background-color: #444;
} */


#logo{
    float: left;
    position: relative;
    margin-right: 300px;
}

#register{
    margin-left: 450px;
    margin-top: 20px;
    border-radius: 25px;
    width: 100px;
    height: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(73, 156, 73);
    border: none;
    color: white;
}

#register:hover{
    color: green;
}


#navbar {
  background-color: var(--primary-color);
  /* color: #fff; */
  color: green;
  padding: 0rem 3rem;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  width: 100vw;
}

#navbar ul {
  list-style: none;
  display: flex;
}

#navbar ul a {
  display: inline-block;
  padding: 1.2rem 2rem;
  text-decoration: none;
  /* color: #fff; */
  color: green;
  font-size: 1.4rem;
  font-weight: 500;
}

#navbar ul a:hover {
  background-color: rgb(253, 6, 47);
  font-weight: bolder;
  color: white;
}

#container{

    width: 100vw;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    /* background-color: yellow; */
    justify-content: flex-start;
    padding: 100px;
    /* margin-top: ; */
    background-image: url('/image/IMG-20220719-WA0004.jpg');
    background-size: cover;
    
}

.item{

    /* background-color: red; */
    margin-right: 20px;
    border: black;
    padding: 32px;
    width: 800px;
    height: 500px;
    text-align: center;
    color: black;
    font-size: 25px;
    margin-top: 500px;
    margin-right: 100px;
    text-align: left;

    
    
}

.item h1{
  font-size: 60px;
  font-weight: bolder;
}

h2 .green{
  color: #008000;
  font-size: 40px;
  font-weight: bolder;
}

.green{
  color: green;
  font-size: 30px;
  font-weight: bolder;
}

.red{
  color: red;
  font-size: 30px;
  font-weight: bolder;
}

.item p{
  font-size: 30px;
  font-weight: bold;
}

#app{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
     rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    cursor: pointer;
    background-color: #C2FBD7;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    color: #008000;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 50px;
    padding: 0 25px;
    transition: all 200ms;

    margin-top: 20px;
}

#app:hover{
background-color: #AFE6C3;
transform: scale(1.05);
}

section{
  width: 60%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 70vh;
    /* background-color: yellow; */
    justify-content: flex-start;
    padding: 100px;
    text-align: left;
}
#sideline {
  display: flex;
  height: 75;
  border-radius: 10px;
  display: block;
  margin: 10px;
  margin-bottom: 3rem;
  background-color: green;
  width: 15px;
}
#read-more{
  float: left;
  /* margin-left: 150px; */
  margin-top: 30px;
  color: white;
  border-color: green white;
  border-width: thick 5px thick 5px;
  color: red;
  font-size: 35px;
  margin-bottom: 100px;
  background-color: white;
  cursor: pointer;
}

.about-us{
  font-size: 60px;
  text-align: left;
  /* margin-top: 150px;
  margin-left: 150px; */
  margin-bottom: 5px;
  font-weight: bolder;
}

#about{
  display: flex;
  font-size: 30px;
}


 /* statistic row */
#statz{
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column; */
  /* height: 70vh; */
  /* background-color: yellow; */
  justify-content: flex-start;
  padding: 10px;
  text-align: left;
  /* margin-top: -60px; */
  margin-top: -270px;
  margin-left: 100px;
}

.stat{
font-size: 50px;
color: black;
margin-right: 150px;
margin-bottom: 100px;
align-items: center;
}

#stats-img{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-right: 150px;
  margin-top: -300px;
}

#box1 img{
  height: 600px;
  width: 400px;
  margin-top: 500px;
  margin-left: 200px;
  margin-right: 100px;

}

#box2{
  height: 10%;
  width: 400px;
  margin-top: 230px;
}

#box3{
	display: block;
  margin-left: 100px;
	/* width: 100%; */
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
}



/* work line */
#work{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#area {
  display: flex;
  flex-direction: column;

}

#box-container{
  display: flex;
  align-items: center;
  /* padding: 200px; */
  justify-content: center;
  margin: 20px;
}

.box4{
  margin: 20px;
  /* height: 100px; */
}

.box4 img{
  height: 700px;
  width: 100%;
}

/* mission and vision */

#misV{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  /* width: 50%; */
}

#box5{

  height: 400px;
  margin: 50px;
  width: 500px;
  align-items: center;
  justify-items: center;
  /* width: 50%; */
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

 #box5 p{
  /* text-align: center; */
  /* width: 40%; */
  font-size: 30px;
  padding-top: 130px;
  padding-left: 30px;
  padding-right: 30px;
  /* justify-content: center; */
  /* align-content: center; */
 } 

 .mission h2{
  text-align: left;
  margin-left: 45px;
  font-size: 30px;
  margin-bottom: -40px;
 }

 .vision h2{
  text-align: right;
  margin-right: 49px;
  font-size: 30px;
  margin-bottom: -40px;
 }

 #stay{
  background-color: #008000;
  height: 500px;
  display: flex;
  justify-content: space-around;
  padding: 150px;
 }

 #left{
  height: 300px;
  width: 300px;
  color: black;
  background-color: black;
  margin-right: 200px;
 }

 #right{
  text-align: left;
  font-size: 30px;
  margin-left: 200px;
  width: 600px;
 }
